<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>Add New User</h1>
<form th:action="@{/users}" th:object="${user}" method="post">
    <label>First Name: <input type="text" th:field="*{firstName}"/></label><br/>
    <label>Last Name: <input type="text" th:field="*{lastName}"/></label><br/>
    <label>Email: <input type="text" th:field="*{email}"/></label><br/>
    <button type="submit">Save</button>
</form>
<br/>
<a th:href="@{/users}">Back to list</a>
</body>
</html>
